[submodule "esnet-fpga-library"]
	path = esnet-fpga-library
	url = ../esnet-fpga-library
[submodule "open-nic-shell"]
	path = open-nic-shell
	url = ../open-nic-shell
[submodule "AVED"]
	path = src/xilinx/aved/hw
	url = https://github.com/Xilinx/AVED.git
