user_externs/*.so
*_out.meta
*_out.pcap
*_out.user
*_out.pcap.txt
*_out_final.pcap
runsim.txt_*
*_cli.txt
*_model.txt
sim-out.txt
!test-*/expected/*_out.meta
!test-*/expected/*_out.pcap
*/log_*
run_pkt_test_incl.svh

